@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  scrollbar-width: thin;
  scrollbar-color: #131313 transparent;
}

body {
  background: #F2F2F2;
  color: #333333;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.auth-form {
  @apply h-screen flex justify-center items-center;

  >div {
    @apply grid gap-10 items-center md:w-1/4;
  }

  h2 {
    @apply text-xl font-bold mx-auto;
  }

  form {
    @apply flex flex-col justify-center gap-5;

    input {
      @apply py-3 px-4 outline-none border-gray-600 rounded-xl;
    }

    button {
      @apply p-3 rounded-xl bg-[#99B8D9] font-semibold mt-4;
    }

    a {
      @apply text-sm underline;
    }
  }
}

.auth-form__secondary-cta {
  @apply text-sm flex justify-between;
}

.message {
  @apply max-w-[70%] flex gap-5;
}